name: Account Request Implement

on:
  issues:
    types:
      - labeled

jobs:
  # When ACCOUNT_IMPLEMENTED label is added to account management request
  request-implemented:
    if: github.event.label.name == 'ACCOUNT_IMPLEMENTED'
    runs-on: ubuntu-20.04
    # permissions:
    #   issues: write
    steps:
      - name: Checkout repo to access handshake file
        uses: actions/checkout@v4
        
      - name: Parse issue body
        uses: stefanbuck/github-issue-parser@v3.2.1
        id: issue-parser
        with:
          template-path: ".github/ISSUE_TEMPLATE/account_management_request_form.yaml"

      - name: Ensure directory exists for created users
        run: |
          mkdir -p ato/oscal-artifacts/created_users/

      - name: Create yaml file for automated user creation
        env:
          USER_NAME: "${{ steps.issue-parser.outputs.issueparser_user-first-name }} ${{ steps.issue-parser.outputs.issueparser_user-last-name }}"
          USER_EMAIL: ${{ steps.issue-parser.outputs.issueparser_user-email }}
          USER_ROLE: ${{ steps.issue-parser.outputs.issueparser_account-type }}
        run: |
          python ato/secops/create_user.py --user-name "$USER_NAME" --user-email "$USER_EMAIL" --user-role "$USER_ROLE"
      
      - name: Configure AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
      
      - name: Copy user yaml to bucket
        run: |
          aws s3 cp --recursive ato/oscal-artifacts/created_users/ s3://"$AWS_BUCKET"
        env:
          AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
        
      # - name: Notify Blossom Assessors about Implemented Account
      #   run: gh issue comment "$NUMBER" --body "$BODY"
      #   env:
      #     GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     GH_REPO: ${{ github.repository }}
      #     NUMBER: ${{ github.event.issue.number }}
      #     BODY: >
      #       @usnistgov/blossom-assessors An edit to the ACL and/or SSP has been implemented.
      #       Please monitor the automated assessment.