name: Account Request Implement

on:
  issues:
    types:
      - labeled

jobs:
  # When ACCOUNT_IMPLEMENTED label is added to account management request
  request-implemented:
    if: github.event.label.name == 'ACCOUNT_IMPLEMENTED'
    runs-on: ubuntu-20.04
    permissions:
      issues: write
    steps:
      - name: Notify Blossom Assessors about Implemented Account
        run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          BODY: >
            @usnistgov/blossom-assessors An edit to the ACL and/or SSP has been implemented.
            Please monitor the automated assessment.