name: Account Request Authorize

on:
  issues:
    types:
      - labeled

jobs:
  # When an issue is created by account management authorization form
  # Label of account management request form is ACCOUNT_AUTHORIZED_RECORD
  request-authorized:
    if: github.event.label.name == 'ACCOUNT_AUTHORIZED_RECORD'
    runs-on: ubuntu-20.04
    permissions:
      issues: write
    steps:
      - name: Add comment
        run: gh issue comment "$NUMBER" --body "$BODY"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          NUMBER: ${{ github.event.issue.number }}
          BODY: >
            @usnistgov/blossom-management An approved account modification has been implemented.


# Contact AWS Cognito to show users
# Check is user contained in ACL is in AWS response with grep
